
<h1>Hi, </h1>

<body>
<form name="Pay" action="https://core.piastrix.com/invoice/create" method="post">
    <fieldset>
        <legend>Payment</legend>
        <div>
            <p><b>Amount

                <input type="text" name ="amount"/>
            </b>
            </p>
            <br>
            <p>
            <select name="currency">
                <option value="840">USD</option>
                <option value="978">EUR</option>
                <option value="643">RUB</option>
            </select>
            </p>
                Description
            <input type="text" name ="description"/><br>
            <input type="hidden" name ="shop_id" value="5"/>
            <input type="hidden" name ="shop_order_id" value="123456"/>
            <input type="hidden" name="pure_sign" value = "">
            <input type="hidden" name="sign" value = ""/>
            <input type="hidden" name="shop_sign" value=""/>
            <br>
            <input type="submit" value="submit"/>

        </div>


</fieldset>
</form>
</body>
